@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <title>My Fleet Manager</title>
</head>
<body>
    <br />
    <div class="col d-flex justify-content-center">
        <div class="card text-center" style="width: 30rem;">
            <div class="card-body text-center">
                <h5 class="card-title">Fleet</h5>
                <p class="card-text">Add Fleet into My Fleet Manager</p>
                <a asp-controller="Fleet" asp-action="Create" class="btn btn-info">Continue</a>
            </div>
        </div>
    </div>
    <br />
    <div class="col d-flex justify-content-center">
        <div class="card text-center" style="width: 30rem;">
            <div class="card-body text-center">
                <h5 class="card-title">Vehicle</h5>
                <p class="card-text">Add Vehicle into My Fleet Manager</p>
                <a asp-controller="Vehicle" asp-action="Create" class="btn btn-info">Continue</a>
            </div>
        </div>
    </div>
    <br />
    <div class="col d-flex justify-content-center">
        <div class="card text-center" style="width: 30rem;">
            <div class="card-body text-center">
                <h5 class="card-title">Transaction</h5>
                <p class="card-text">Add Transaction into MtFleetManager</p>
                <a asp-controller="Transaction" asp-action="Create" class="btn btn-info">Continue</a>
            </div>
        </div>
    </div>
    <br />
    <div class="col d-flex justify-content-center">
        <div class="card text-center" style="width: 30rem;">
            <div class="card-body text-center">
                <h5 class="card-title">View Transactions</h5>
                <p class="card-text">View Transactions of My Fleet Manager</p>
                <a asp-controller="Driver" asp-action="Index" class="btn btn-info">Continue</a>
            </div>
        </div>
    </div>
    <br />
    <div class="col d-flex justify-content-center">
        <div class="card text-center" style="width: 30rem;">
            <div class="card-body text-center">
                <h5 class="card-title">Report</h5>
                <p class="card-text">Generate Report From MyFleetManager</p>
                <a asp-controller="Inspector" asp-action="Index" class="btn btn-info">Continue</a>
            </div>
        </div>
    </div>
    <br />
</body>
</html>